{% extends base_template %} {% block title %}Upcoming Bookings - EpicTrail Adventures{% endblock %} {% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- <h2 class="text-primary">All Bookings</h2> -->
    <h2 class="mb-3">Upcoming Bookings</h2>
    <div class="btn-group" role="group" aria-label="Actions">
        <a href="{% url 'create_booking' %}" class="btn btn-success">
            <i class="fas fa-plus-circle"></i> New Booking
        </a>
        <a href="{% url 'create_user_booking' %}" class="btn btn-primary ms-2">
            <i class="fas fa-plus-circle"></i> Create New User Booking
        </a>
        <a href="{% url 'upcoming_bookings' %}" class="btn btn-primary ms-2">
            Upcoming Bookings
        </a>
    </div>
</div>
    
    <div class="table-responsive">
        {% if upcoming_bookings %}
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Guests</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in upcoming_bookings %}
            <tr>
                <td>{{ booking.user.username }}</td>
                <td>{{ booking.check_in|date:"Y-m-d" }}</td>
                <td>{{ booking.check_out|date:"Y-m-d" }}</td>
                <!-- <td>{{ booking.pax_details }}</td> -->
                <td>
                    {% if booking.display_pax_details %}
                        <ul>
                        {% for detail in booking.display_pax_details %}
                            <li>{{ detail }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <em>No pax details</em>
                    {% endif %}
                </td>

                <td>{% if booking.paid %}✔{% else %}✘{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    </div>
    <p>No upcoming bookings.</p>
    {% endif %}
    <a href="{% url 'booking_list' %}" class="btn btn-primary ms-2">
        Back to Bookings
    </a>
</div>
{% endblock %}